.product-card{

    border:none;

    border-radius:15px;

    overflow:hidden;

    transition:.3s;

}

.product-card:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 30px rgba(0,0,0,.12);

}

.product-card img{

    height:220px;

    object-fit:cover;

}